@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
.semTalkVisio {
    /* layout */
     display: flex;
     .iframeHost {
        //  height: 600px;
         flex: 3;
    }
    .detailsPanel {
        flex: 1;
        min-width: 30%;
       padding: 20px;
    }
  }
